.title-text {
  font-size: 1em;
}
.nav-text {
  font-size: 0.75em;
}

#contact-form {
  width: 10em;
}

#contact-form-title {
  font-size: 0.8em;
}

#about-me-img {
  width: 12em;
  height: 12em;
}
#about-header-text {
  font-size: 2em;
}
